nav > a > img {
  width: 40%;
  max-width: 300px;
  min-width: 90px;
  transition: transform;
  transition-duration: 0.4s;
}
nav > a > img:hover {
  transform: scale(1.2);
}
nav > #navBar {
  width: 200px;
  transition: display;
}
input[type="button"] {
  cursor: pointer;
  transition: transform;
  transition-duration: 0.4s;
}
input[type="button"]:hover {
  transform: scale(1.2);
}
ul > li {
  transition: transform;
  transition-duration: 0.4s;
}
main {
  height: 90vh;
}
@media screen and (min-width: 1024px) {
  nav > #iconMenu {
    display: none;
  }
  nav > #navBar {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
}

form input {
  padding-left: 10px;
}
form input:focus {
  outline: none;
}

/*Slides :*/
.slide {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 0.5rem;
  opacity: 0;
  transition: transform 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  transform: translateX(0%);
}

.slide.previous {
  transform: translateX(-100%);
}

.slide.next {
  transform: translateX(100%);
}
